
.wydarzenia-filter-div{
    /*position: fixed;*/
    /*border-right: solid green 1px;*/
    width: 190px;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d201d;
    box-shadow: #1d201d 1px 1px 1px 1px;
    height:300px;
    margin: 30px;
    border-radius: 10px;
}

.dodaj-wydarzenie-button{
    /*margin-top: 75px;*/
    border: 2px solid white;

}
.wydarzenia-filter-label1{
    width:100%;
    margin-top: 20px;
}
.wydarzenia-filter-label2{
    margin-top: 50px;
}

.wydarzenia-filter-label3{
    margin-top: 50px;
}


.wydarzenia-filter-hidden-p{
    font-size: 12px;
    color: #1d201d;
}
.wydarzenia-filter-nazwa-p{
    font-size: 12px;
}

.wydarzenia-filter-nazwa-input{
    border-bottom: solid green 1px;
    background-color: #1A1919;
    color: white;
}
.wydarzenia-filter-data-input{
    background-color: #3A4F39;
}
.wydarzenia-filter-data-input{
    padding-top: 30px;
}

.wydarzenia-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding-left:280px;*/
}

.wydarzenia{
    /*padding-top:75px;*/
    display: flex;
    flex-direction: row;
}

/*.wydarzenia-vertical-line{*/
/*    position:fixed;*/
/*    left:250px;*/
/*    width: 30px;*/
/*    border-right:solid green 1px;*/
/*    height:100%;*/
/*}*/

.wydarzenie-male-img{
    width:100%;
    border-radius: 10px;
    /*height: calc(300px / 2.2);*/
}
.wydarzenie-male{
    min-width:300px;
    /*width:calc((100vw - 300px) / 3.2);*/
    background-color: #222522;
    border-radius: 10px;
    color: black;
    text-align: center;
    margin: 10px;

}


.wydarzenie-male-data-div{
    display: flex;
    flex-direction: row;
}
.wydarzenie-male-data{
    margin-left:20px;
    margin-right:10px;
    width: 30px;
    margin-top: -25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: grey 1px 1px 1px;

}
.wydarzenie-male-nazwa{
    height: 80px;
    text-align: left;
    padding:5px;
    color: white;
}
.wydarzenie-duze{
    padding-top:50px;
    text-align:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wydarzenie-duze-flex-prawy{
    flex:30;
}
.wydarzenie-duze-flex-prawy{
    flex:70;
}
.wydarzenie-duze-nazwa{
    margin-top:15px;
}
.wydarzenie-duze-typ{
    margin-top:15px;
}
.wydarzenie-duze-data-napis1{
    margin-top:15px;
}
.wydarzenie-duze-opis{
    margin-top:15px;
word-break: break-word;
    background-color:wheat;
    color:black;
}